:root {
  --primary-gradient: linear-gradient(180deg, #f08, #8b004a);
  --info-gradient: linear-gradient(180deg, #1e7ffd, #145ab6);
  --success-gradient: linear-gradient(180deg, #23c045, #15852d);
  --danger-gradient: linear-gradient(180deg, #d62f2f, #831515);
  --warning-gradient: linear-gradient(180deg, #fdb61e, #a07519);

  --button: #999;
  --primary: #f08;
  --info: #1e7ffd;
  --success: #23c045;
  --danger: #d62f2f;
  --warning: #fdb61e;

  --border: #c0c0c0;
  --secondary: #999;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

/* Heading */

.h1 {
  display: block;
  font-size: 3em;
}

.h2 {
  display: block;
  font-size: 2.4em;
}

.h3 {
  display: block;
  font-size: 2em;
}

.h4 {
  display: block;
  font-size: 1.4em;
}

.h5 {
  display: block;
  font-size: 1.2em;
}

.h6 {
  display: block;
  font-size: .8em;
}

/* Button */

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #fff;
  background: var(--button);
  padding: .5em 1em;
  font-size: 1em;
  cursor: pointer;
  border: none;
}

.btn.btn-primary {
  background: var(--primary-gradient);
}

.btn.btn-info {
  background: var(--info-gradient);
}

.btn.btn-success {
  background: var(--success-gradient);
}

.btn.btn-danger {
  background: var(--danger-gradient);
}

.btn.btn-warning {
  background: var(--warning-gradient);
}

.btn:hover {
  opacity: .9;
}

/* Form */

.form {
  display: flex;
  flex-direction: column;
  max-width: fit-content;
  padding: .5em;
  border: 1px var(--border) solid;
}

/* Input */

.input {
  padding: .3em;
  border: 1px solid var(--border);
  color: #000;
  font-size: 1em;
}

/* Alert */

.alert {
  display: block;
  background: var(--secondary);
  margin: .2em;
  padding: 1em;
  color: #fff;
}

.alert.alert-primary {
  background: var(--primary-gradient);
}

.alert.alert-info {
  background: var(--info-gradient);
}

.alert.alert-success {
  background: var(--success-gradient);
}

.alert.alert-danger {
  background: var(--danger-gradient);
}

.alert.alert-warning {
  background: var(--warning-gradient);
}

/* Display */

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

/* Align-Items */

.align-items-start {
  align-items: flex-start;
}

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: flex-end;
}

/* Justify-Content */

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: flex-end;
}

/* Row and Column */

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

/* Text Align */

.text-start {
  text-align: start;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: end;
}

/* Background */

.bg-secondary {
  background: var(--secondary);
}

.bg-primary {
  background: var(--primary);
}

.bg-info {
  background: var(--info);
}

.bg-success {
  background: var(--success);
}

.bg-danger {
  background: var(--danger);
}

.bg-warning {
  background: var(--warning);
}

.bg-primary-gradient {
  background: var(--primary-gradient);
}

.bg-info-gradient {
  background: var(--info-gradient);
}

.bg-success-gradient {
  background: var(--success-gradient);
}

.bg-danger-gradient {
  background: var(--danger-gradient);
}

.bg-warning-gradient {
  background: var(--warning-gradient);
}

/* Gap */

.gap-1 {
  gap: .5em;
}

.gap-2 {
  gap: 1em;
}

.gap-3 {
  gap: 1.5em;
}

.gap-4 {
  gap: 2em;
}

.gap-5 {
  gap: 2.5em;
}

/* Margin */

.mx-1 {
  margin: .5em;
}

.mx-2 {
  margin: 1em;
}

.mx-3 {
  margin: 1.5em;
}

.mx-4 {
  margin: 2em;
}

.mx-5 {
  margin: 2.5em;
}

.mx-auto {
  margin: auto;
}

/* Margin Left */

.ml-1 {
  margin-left: .5em;
}

.ml-2 {
  margin-left: 1em;
}

.ml-3 {
  margin-left: 1.5em;
}

.ml-4 {
  margin-left: 2em;
}

.ml-5 {
  margin-left: 2.5em;
}

.ml-auto {
  margin-left: auto;
}

/* Margin Top */

.mt-1 {
  margin-top: .5em;
}

.mt-2 {
  margin-top: 1em;
}

.mt-3 {
  margin-top: 1.5em;
}

.mt-4 {
  margin-top: 2em;
}

.mt-5 {
  margin-top: 2.5em;
}

.mt-auto {
  margin-top: auto;
}

/* Margin Right */

.mr-1 {
  margin-right: .5em;
}

.mr-2 {
  margin-right: 1em;
}

.mr-3 {
  margin-right: 1.5em;
}

.mr-4 {
  margin-right: 2em;
}

.mr-5 {
  margin-right: 2.5em;
}

.mr-auto {
  margin-right: auto;
}

/* Margin Bottom */

.mb-1 {
  margin-bottom: .5em;
}

.mb-2 {
  margin-bottom: 1em;
}

.mb-3 {
  margin-bottom: 1.5em;
}

.mb-4 {
  margin-bottom: 2em;
}

.mb-5 {
  margin-bottom: 2.5em;
}

.mb-auto {
  margin-bottom: auto;
}

/* Padding */

.px-1 {
  padding: .5em;
}

.px-2 {
  padding: 1em;
}

.px-3 {
  padding: 1.5em;
}

.px-4 {
  padding: 2em;
}

.px-5 {
  padding: 2.5em;
}

/* Padding Left */

.pl-1 {
  padding-left: .5em;
}

.pl-2 {
  padding-left: 1em;
}

.pl-3 {
  padding-left: 1.5em;
}

.pl-4 {
  padding-left: 2em;
}

.pl-5 {
  padding-left: 2.5em;
}

/* Padding Top */

.pt-1 {
  padding-top: .5em;
}

.pt-2 {
  padding-top: 1em;
}

.pt-3 {
  padding-top: 1.5em;
}

.pt-4 {
  padding-top: 2em;
}

.pt-5 {
  padding-top: 2.5em;
}

/* Padding Right */

.pr-1 {
  padding-right: .5em;
}

.pr-2 {
  padding-right: 1em;
}

.pr-3 {
  padding-right: 1.5em;
}

.pr-4 {
  padding-right: 2em;
}

.pr-5 {
  padding-right: 2.5em;
}

/* Padding Bottom */

.pb-1 {
  padding-bottom: .5em;
}

.pb-2 {
  padding-bottom: 1em;
}

.pb-3 {
  padding-bottom: 1.5em;
}

.pb-4 {
  padding-bottom: 2em;
}

.pb-5 {
  padding-bottom: 2.5em;
}

/* Width (Percents) */

.w-10 {
  width: 10%;
}

.w-20 {
  width: 20%;
}

.w-30 {
  width: 30%;
}

.w-40 {
  width: 40%;
}

.w-50 {
  width: 50%;
}

.w-60 {
  width: 60%;
}

.w-70 {
  width: 70%;
}

.w-80 {
  width: 80%;
}

.w-90 {
  width: 90%;
}

.w-100 {
  width: 100%;
}

/* Width (Viewport Width) */

.w-10vw {
  width: 10vw;
}

.w-20vw {
  width: 20vw;
}

.w-30vw {
  width: 30vw;
}

.w-40vw {
  width: 40vw;
}

.w-50vw {
  width: 50vw;
}

.w-60vw {
  width: 60vw;
}

.w-70vw {
  width: 70vw;
}

.w-80vw {
  width: 80vw;
}

.w-90vw {
  width: 90vw;
}

.w-100vw {
  width: 100vw;
}

/* Height (Percents) */

.h-10 {
  height: 10%;
}

.h-20 {
  height: 20%;
}

.h-30 {
  height: 30%;
}

.h-40 {
  height: 40%;
}

.h-50 {
  height: 50%;
}

.h-60 {
  height: 60%;
}

.h-70 {
  height: 70%;
}

.h-80 {
  height: 80%;
}

.h-90 {
  height: 90%;
}

.h-100 {
  height: 100%;
}

/* Height (Viewport Height) */

.h-10vh {
  height: 10vh;
}

.h-20vh {
  height: 20vh;
}

.h-30vh {
  height: 30vh;
}

.h-40vh {
  height: 40vh;
}

.h-50vh {
  height: 50vh;
}

.h-60vh {
  height: 60vh;
}

.h-70vh {
  height: 70vh;
}

.h-80vh {
  height: 80vh;
}

.h-90vh {
  height: 90vh;
}

.h-100vh {
  height: 100vh;
}